@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@300;400;700&family=Roboto:ital,wdth,wght@0,75,700;1,75,700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/*BURGER MENU*/
.menu__button{
    background-color: transparent;
   display: none;
   color:#243e63;
}

/*NAV BAR*/
.nav__container{
    width:100%;
    max-width: 1200px;
}
.nav__row{
    margin: 12px auto;
}
html{
    scroll-behavior: smooth;
}
nav{
    width:100%;
    display: flex;
    margin-top: -12px;
    justify-content: space-between;
}

.email input{
    width:100%;
    padding:20px 150px 20px 24px;
    border-radius: 50px;
    border: 2px solid lightgray;
}
.email button{
    position:absolute;
    right: 8px;
    top:8px;
    bottom:8px;
    border:none;
    border-radius: 50px;
    padding: 0 18px;
    align-items: center;
}
.nav__logo--wrapper{
    display: flex;
    align-items: center;
    padding:2px 20px 20px 2px;
}
.nav__links--wrapper{
    display: flex;
    align-items: center;
    padding:32px;
}
.nav__link,
.nav__link--login{
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 0 96px;
    color:#243e63;
}
.nav__link--login{
    padding-right: 4px;
    margin:0 24px 0 48px;
}
.nav__link--contact{
    padding:12px 24px;
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.logo__img{
    width:36px;
    margin: 0 12px 0 0;
}
.nav--btn{
   color:#F7FAFC;
   background-color: blueviolet;
   border: none;
   font-size: 14px;
   padding: 12px 32px;
   border-radius: 18px; 
}
.row{
    width:100%;
    max-width: 1400px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
}
.text--purple{
    color: purple;
}
.treact__para{
    text-align: left;
    display: flex;
    color:#243e63;
    margin:32px 0;
    font-size: 18px;
    line-height: 1.5;
}
.title__container{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.customers__title{
    margin-top: 80px;
    font-size: 18px;
    color:gray;
}
.customer--logo{
    width:100%;
    padding: 0 128px 0 0;
    margin:16px 0 0;
}
.signup__container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.btn{
    padding:12px 32px;
    border-radius: 18px;
    background-color: #6415ff;
    font-size: 16px;
    font-weight: 700;
    color:white;
    display: flex;
}
.input{
    padding: 20px 192px 20px 32px;
}
.container{
    display: flex;
    width:100%;
    max-width: 1200px;
}
.treact__desk{
    width:60%;
}
.treact__title{
    width:100%;
    font-size: 48px;
}
.purple{
    color: blueviolet;
}

/*Features*/

#features{
    margin-top: 240px;
}

.features__title{
    color:#6415ff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin:0 0 16px;
}
.features__subheader{
    display: flex;
    justify-content: center;
    margin-bottom:24px;
    font-size: 48px;
}
.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.text--purple{
    color:#6415ff;
    font-weight: bold;
}
.features__para{
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    font-size: 18px;
    line-height: 1.5;
    color:gray;
    text-align: center;
}
/*services*/

.services__container{
    width:calc(100%/3);
    display: flex;
    justify-content: center;
    margin: 16px 0;
}
.service__shield{
    width:80px;
    height:80px;
    margin:0 16px;
    background-color: white;
    padding:20px;
    border-radius: 50%;
    border:1px solid rgba(128, 128, 128, 0.253);
    object-fit: contain;
}
.service__title{
    font-weight: bold;
    font-size: 24px;
    color:#243E63;
}
.service__description{
    max-width: 200px;
    line-height: 1.5;
    color: #7C8BA1;
}
.features__row{
    max-width: 1200px;
 flex-wrap: wrap;   
}

/*Quality Work*/
#quality{
    margin-top: 240px;
}
.quality__work--row{
    width:100%;
    max-width: 1300px;
    justify-content: space-around;
    align-items: center;
    margin-top:32px;
}
.qualitywork__title{
margin:24px 0;
font-size: 16px;
color:#6415ff;
}
.home__screenshot{
    border: 1px solid rgba(128, 128, 128, 0.432);
    border-radius: 8px;
    width:50%;
}
.quality__subtitle{
    font-size: 48px;
    font-weight: bold;
    width:100%;
    max-width: 800px;
}
.quality__para{
    width:400px;
    font-size: 18px;
    color:gray;
    margin-top: 24px;
}
.quality__button{
    background-color:#6415ff;
    color:#F7FAFC;
    font-weight: 700;
    padding:12px 32px;
    border-radius: 18px;
    margin:48px 0;
}

/*STEPS*/
#steps{
    margin: 240px 0;
}

.steps__title{
    font-size: 16px;
    color:#6415FF;
    font-weight: bold;
}
.step__num{
    font-weight: bold;
    color:#CBD5E0;
    font-size: 36px;
    margin:0 24px;
}
.step{
    font-weight: bold;
    font-size: 18px;

}
.step__subtitle{
    font-size: 48px;
    margin:20px 0;
}
.step__description{
    margin: 10px 0;
    max-width: 400px;
    font-weight: bold;
    color:gray;
    line-height: 1.5;
}
.step__wrapper{
display: flex;
flex-direction: row;
}
.steps__row{
    width:50%;
}

/*VALUES*/

.values__row{
    width:100%;
    max-width: 1400px;
    margin: 0 auto;
}
.value__title--row{
    display: flex;
    align-items: center;
    gap:12px;
}
.values__container{
    width:100%;
}
.values__title{
    color:#6415ff;
    font-size: 16px;
    margin-bottom: 20px;
}
.values__title--subheader{
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: bold;
}
.values__description{
    line-height: 1.5;
    font-size: 18px;
    color:#718096;
}
.values-btn{
    background-color: #6415ff;
    color:white;
    padding:12px 32px;
    border-radius: 18px;
    margin-top: 16px;
    border:none;
}
.values__promise{
    color:#718096;
    max-width: 400px;
}
.values__promises--wrapper{
    display: flex;
    flex-direction: column;
}
.values__promise--container{
    display: flex;
}
.values__row{
    display: flex;
    margin-bottom: 24px;
}
.value__demo--img{
    max-width:800px;
}
.value__icon--wrapper-red{
    background-color: #FEB2B2;
    color:rgb(155,44,44);
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin:24px 0;
}
.value__icon--wrapper-green{
    background-color: #9AE6B4;
    height:40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin:24px 0;
}

/*PRICING*/

.pricing__row{
display: flex;
justify-content: center;
margin:0 auto 64px;
padding-top:96px;
}
.plan__title{
    font-size: 20px;
    font-weight: 700;
}
.plan__title--business{
    font-size: 20px;
    font-weight: 700;
    color:white;
}
.pricing__title,
.pricing__subtitle{
    display: flex;
    justify-content: center;
}
.pricing__subtitle{
    display: block;
    font-size: 48px;
    font-weight: bold;
}
.pricing__description{
    width: 800px;
    color:gray;
    text-align: center;
}
.plan__container{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1px solid #e2e8f0;
    margin:0 auto;
    width:100%;
    max-width: 400px;
}
.plan__container--personal{
    border-top: 8px solid rgb(129,230,217);
}
.plan__container--enterprise{
    border-top: 8px solid rgb(245,101,101);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    max-width: 400px;
}
.plan__container--business{
    background: linear-gradient(135deg, rgb(76,81,191) 0%, rgb(102,126,234) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    max-width: 400px;
}
.plan__container--business-mid{
    border-top: 1px solid rgba(255,255,255,0.25);
    border-bottom: 1px solid rgba(255,255,255,0.25);
    line-height: 2.5;
    font-size: 16px;
    height:300px;
}
.plan__container--business .plan__para{
    color:#e2e8f0;
}
.business__plan--container-top{
    padding:42px 0 40px;
}
.personal__plan--container-top,
.enterprise__plan--container-top,
.plan__container--top{
    padding:32px 0;
}
.plan__title,
.plan__price{
    margin-bottom: 24px;
}


.plan__price--white{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
    color:white;
}
.plan__price{
    font-weight: 700;
    font-size: 48px;
    color:#242424;
}
.plan__subscription--personal{
    color:gray;
    font-size: 20px;
    font-weight: 700;
}
.plan__subscription--business{
    color:white;
    font-size: 20px;
    font-weight: 700;
}
.plan__subscription--enterprise{
    color:gray;
    font-size: 20px;
    font-weight: 700;
}
.plan__container--mid{
    border-top: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    line-height: 2.5;
    font-size: 16px;
    height:300px;
}
.plan__para{
    color:#c4c7cc;
}
.plan__audience,
.plan__audience--business{
    font-size: 20px;
    font-weight: 700;
}
.plan__audience--business{
    color:white;
}
.button__container{
    padding:24px 0;
}
.buynow-btn{
    background: linear-gradient(115deg, rgb(56,178,172),
    0%, rgb(129,230,217)100%);
    padding: 16px 32px;
    border-radius: 16px;
}
.buynow-btn--enterprise{
    background:linear-gradient(115deg, rgb(245,101,101) 0%, rgb(254,178,178) 100%);
    padding:16px 48px;
    border-radius: 16px;
    font-weight: 700;
    color:white;
}
.buynow-btn--personal{
    background:linear-gradient(115deg, rgb(56,178,172) 0%, rgb(129,230,217) 100%);
    padding:16px 48px;
    border-radius:16px;
    font-weight: 700;
    color:white;
}
.buynow-btn--business{
    color:purple;
    font-weight: bold;
    padding:16px 48px;
    border-radius: 16px;
}
.plan__container--wrapper{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
}
.business__plan--para{
    color:#E2e8f0;
}


/*TESTIMONIALS*/
.testimonial__row{
    margin-top:240px;
    margin-bottom:240px;
    width:100%;
    max-width: 1200px;
}
.testimonial__img{
    width:100px;
    border-radius: 50%;
}
.testimonial__love{
    width:90%;
    margin:48px 0;
}
.testimonial__container{
    width:80%;
}
.rating__wrapper{
    display: flex;
    color:gold;
    margin:24px 0;
}
.testimonial{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}
.testimonial__title{
    margin:24px 0;
}
.testimonial__description{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
}
.testimonial__paraphrase{
    font-size: 48px;
    padding:24px 0;
    font-weight: 700;
}
.testimonial__para{
    color:gray;
    line-height: 1.5;
}
.testimonial__title--container{
    display: flex;
    flex-direction: column;
    margin:20px 20px 0 0;
}
.experience__wrapper{
    display: flex;
}
.left-btn{
    margin-top: 24px;
    width:40px;
    height:40px;
    border-radius: 50%;
    border:none;
    color:purple;
}
.right-btn{
    margin-top: 24px;
    width:40px;
    height:40px;
    border-radius: 50%;
    border:none;
    color:purple;
}
.user__name{
    font-weight: bold;
    font-size: 24px;
    margin:24px 150px 0 18px;
}
.user__position{
    font-weight: bold;
    color:gray;
    margin:8px 150px 0 18px;
}

/*ADS CONTAINER*/
.advertisement__container{
    display: flex;
    width:100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.advertisement__title{
    color:white;
    font-weight: bold;
    width:500px;
}
.advertisement__blob{
    position: absolute;
    width:400px;
    color:#5011cc;
    z-index: 0;
    left:-100px;
    bottom:-200px;
}
.advertisement__blob--right{
    position:absolute;
    width:500px;
    right: -200px;
    top: -400px;
    color:#5011cc;
    z-index: 0;
}
.advertisement__row{
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    width:100%;
    margin:250px auto;
    background-color: #6415ff;
    height:300px;
}
.advertisement__button--container{
    display: flex;
    width:50%;
    justify-content: center;
    align-items: center;
    gap:24px;
    transform: translateX(-150px);
}
.get__started-btn{
    height:50px;
    padding:20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px; 
    border:1px solid gray;
    background-color: rgb(245,101,101);
    color:white;
    border:none;
}
.advertisement__button--contact{
    height:50px;
    padding:20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    border:1px sold #CBD5E0;
}

/*FOOTER*/
.footer__row{
    width:100%;
    max-width: 1200px;
    background-color: #6415ff;
}
.copyright__brand{
    display: flex;
    margin:96px 0;
}
.copyright__container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width:100%;
    max-width: 1200px;
    margin:0 auto;
    background-color: #6415ff;
}
.copyright__container--wrapper{
    background-color: #6415ff;
}
.footer__logo{
    width:40px;
    display: flex;
}
footer{
    position: relative;
    background-color: #6415ff;
    overflow: hidden;
    min-height: 400px;
}
.footer__section--title{
    color:white;
    font-size: 16px;
    margin:96px 0 32px 0;
}
.social__links i{
    align-items: center;
    gap:12px;
    color:white;
    font-size: 28px;
    margin-left: 24px;
}
.footer__link{
    display:block;
    color:white;
    margin-bottom:18px;
    font-size: 14px;
    font-weight: bold;
}
a{
    color:#242424;
    text-decoration: none;
}
hr{
    width:100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: transparent;
}
.copyright__text{
    margin-top: 10px;
    font-weight: bold;
    color:#CBD5E0;
}
.copyright__inc{
    color:white;
    font-weight: bold;
    margin-top: 10px;
}
.footer__blob{
    position: absolute;
    top:-100px;
    left:-100px;
    width:300px;
    height:300px;
    color:#4f11cca9;
}
.footer__blob2{
    position: absolute;
    bottom:-200px;
    right:-100px;
    width:350px;
    height:350px;
    color:#4f11cca9;
}
@media (max-width: 768px){
   
    .nav__logo--wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    .nav__row{
        margin-top:36px;
    }
    nav{
        width:100%;
        display: flex;
        justify-content: space-between;
        padding: 0 38px
    }
   .logo__img{
    width: 40px;
   }
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title__container{
    width:100%;
    max-width: 600px;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
}

  .treact__title{
    width:100%;
    max-width: 700px;
    font-size: 48px;
    text-align: center;
    margin: 0 auto;
    color:#1A202C;
  }
   .treact__logo--title{
    font-size: 32px;
   }
   .treact__para{
    width:100%;
    width:600px;
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    text-align: center;
   }
  .quality__work--row{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home__screenshot{
    width:100%;
    max-width: 200px;
  }
  .email{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    max-width: 500px;
    align-items: center;
  }
  .email button{
    position: absolute;
    right: 8px;
    top:8px;
    bottom:8px;

    width:140px;
    margin-top:0;
    padding:0 18px;
    justify-content: center;
    align-items: center;
  }
  .btn{
    width: 100%;
    padding:16px 18px;
    justify-content: center;
    align-items: center;
  }
  .signup__container{
    width:100%;
    margin: 0 auto;
  }
  .customers__title{
    font-size: 20px;
    color:A0AEC0;
  }
  .customer--logo{
    width:100%;
    max-width: none;
    padding-right:0;
    opacity: 0.5;
    margin-left: 50%;
    transform:translateX(-50%);
  }
  .treact__desk{
    width:70%;
    align-items: center;
  }

  /*FEATURES*/
  .features__title{
    font-size: 20px;
    letter-spacing: 2px;
  }
  .features__row{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features__subheader{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    font-size: 52px;
    font-weight: 700;
  }
  .features__para{
    width:100%;
    max-width: 600px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
  }
  .services__container{
    width: 50%;
  }
  .service__title{
    color:black;
    margin-bottom: 20px;
  }
  .service__description{
    color:gray;
  }

  /*QUALITY*/

  .qualitywork__title{
    font-size: 12px;
    text-align: left;
    letter-spacing:2px;
  }
  .quality__work--row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .quality__subtitle{
    width:100%;
    max-width: 500px;
    text-align: left;
    margin: 0;
  }
  .quality__para{
    max-width: 30%;
    line-height: 1.5;
    max-width: 300px;
    display: flex;
    text-align: left;
    margin: 24px 0;
  }
  .quality__button{
    display:block;
    padding:16px 38px;
    border-radius: 20px;
    margin: 24px 0 0;
  }
  .home__screenshot{
    width:50%;
    max-width: 400px;
  }
  
  /*STEPS*/

  .steps__row{
    width:100%;
    display: flex;
    flex-direction: row;
  }
  .getstarted--container{
    display: flex;
    flex-direction: column;
  }
  .step__wrapper{
    width:100%;
    max-width: 600px;
    margin-top: 32px;
  }
  .steps__img{
    width:90%;
    margin: 24px 0;
  }
  .steps__title{
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    letter-spacing: 2px;
    margin:18px 0;
  }
  .step__num{
    display: flex;
    margin: 0 24px 20px 0;
  }
  .step{
    margin: 0 auto;
    font-size: 20px;
  }
  .step__subtitle{
    width:100%;
    font-size: 40px;
  }
  .step__description{
    text-align: left;
  }

  /*VALUES*/

  .values__row{
    flex-direction: row;
    width:100%;
    max-width: none;
    margin-left: 0;
    margin-right:auto;
  }
  .values__title{
    text-align: left;
    font-size: 20px;
    letter-spacing: 2px;
  }
  .values__description{
    text-align: left;
  }
  .values__title--subheader{
    width:300px;
    text-align: left;
  }
  .value__icon--wrapper-green{
    margin: 16px 0;
  }
  .value__icon--wrapper-red{
    margin:28px 0;
  }
  .values-btn{
    margin: 28px 0;
  }
  .value__demo--img{
    width:50%;
  }
  .value__title--row{
    display: flex;
    align-items: center;
    gap:12px;
  }
  .values__promise--container{
    display: flex;
    flex-direction: column;
  }
  .values__promise{
    text-align: left;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    color:gray;
  }
  .pro,.affordable{
    font-size: 24px;
  }

  /*PRICING*/
  .pricing__title{
    color:#6415FF;
    font-size: 24px;
  }
  .pricing__subtitle{
    max-width: 500px;
    text-align: center;
  }
  .pricing__description{
    width:500px;
    margin:24px 0 auto;
    line-height: 1.5;
    color:gray;
    text-align: center;
  }
  .plan__container--wrapper{
    display: flex;
    flex-direction: column;
  }

  /*TESTIMONIALS*/
  .testimonial__row{
    display: flex;
    flex-direction: row;
  }
  .testimonial__love{
    width:100%;
    width: 300px;
  }
  .testimonial__container{
    width:700px;
  }
  .experience__wrapper{
    width:100%;
  }
  .user__position{
    width:100%;
  }
  .button__wrapper{
    width:100%;
    display: flex;
    align-items: center;
  }
  .left-btn{
    margin-right: 20px;
  }

  /*ADVERTISEMENT*/
  .advertisement__row{
    width:90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height:331px;
    max-width: 690px;
  }
  .advertisement__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .advertisement__title{
    text-align: center;
    max-width: 500px;
    width:100%;

  }
  .advertisement__button--container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:16px;
    width:100%;
    transform: translateX(-15px);
  }
  .get__started-btn{
    padding:24px 32px;
    border-radius: 24px; 
    font-weight: 700;
  }
  .advertisement__button--contact{
    font-weight: 700;
    color:white;
    background-color: #6415FF;
  }
  .advertisement__button--contact:hover{
    color:white;
  }
  /*FOOTER*/

  .footer__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .copyright__container{
    position: relative;
    z-index: 1;
    background-color: transparent;
  }
  .footer__links--container{
    margin: 0 24px;
    position: relative;
  }
  .copyright__container--wrapper{
    margin: 64px 0;
  }
  .copyright__inc,
  .copyright__text{
    color:#cbd5E0;
  }
  .footer__blob,
  .footer__blob2{
    z-index: 0;
  }
  .footer__links--container,
  .copyright__container{
    position: relative;
    z-index: 1;
  }

  /*HAMBURGER*/
  .menu__button{
    display:block;
    margin: 0 20px;
    right:0;
    z-index: 100;
    padding: 14px;
    background-color: transparent;
    color:#243e63;
    border:none;
    font-size: 32px;
  }
  .nav__links--wrapper{
    display:none;
  }
  .nav__links--wrapper.menu__open{
    display: flex;
    flex-direction: column;

    position: fixed;
    left:0;
    top:0;

    gap:24px;
    font-size: 32px;
    color:white;

    width:100%;
    height:100%;
    background-color: black;

    justify-content: center;
    align-items: center;

    z-index: 50;
  }
  body.menu-open{
    overflow:hidden;
  }
}