@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wdth,wght@0,75,700;1,75,700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.nav__container{
    width:100%;
    max-width: 1200px;
}
html{
    scroll-behavior: smooth;
}
nav{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.email{
    position: relative;
    max-width: 450px;
}
.email input{
    width:100%;
    padding:20px 150px 20px 24px;
    border-radius: 50px;
    border: 2px solid lightgray;
}
.email button{
    position:absolute;
    right: 8px;
    top:8px;
    bottom:8px;
    border:none;
    border-radius: 50px;
    padding: 0 18px;
    align-items: center;
}
.nav__logo--wrapper{
    display: flex;
    align-items: center;
    padding:20px;
}
.nav__links--wrapper{
    display: flex;
    align-items: center;
    padding:32px;
}
.nav__link{
    padding-left:24px;
    text-decoration: none;
    color:#242424;
}
.nav__link--login{
    padding-right:8px;
    text-decoration: none;
}
.nav__link--contact{
    padding:12px 24px;
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.logo__img{
    width:80px;
}
.nav--btn{
   color:white;
   background-color: blueviolet;
   border: none;
   padding: 8px 20px;
   border-radius: 12px; 
}
.row{
    width:100%;
    max-width: 1200px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
}
.text--purple{
    color: purple;
}
.treact__para{
    text-align: left;
    display: flex;
    color:rgb(109, 106, 106);
    margin:16px 0;
}
.title__container{
    width:100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.customers__title{
    margin-top: 80px;
    font-size: 18px;
    color:gray;
}
.customer--logo{
    width:100%;
    max-width: 533px;
}
.signup__container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.btn{
    max-width: 100px;
    padding:16px 0;
    border-radius: 12px;
    background-color: #6415ff;
    color:white;
    display: flex;
}
.container{
    display: flex;
    width:100%;
    max-width: 1200px;
}
.treact__desk{
    width:60%;
}
.treact__title{
    width:100%;
    max-width: 300px;
}
.purple{
    color: blueviolet;
}

/*Features*/

#features{
    margin-top: 240px;
}
.features__title{
    display: flex;
    justify-content: center;
    margin:0 auto;
}
.features__subheader{
    display: flex;
    justify-content: center;
    margin-bottom:24px;
}
.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.text--purple{
    color:#6415ff;
    font-weight: bold;
}
.features__para{
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    font-size: 16px;
    color:gray;
    text-align: center;
}
/*services*/

.services__container{
    width:calc(100%/3);
    display: flex;
    justify-content: center;
}
.service__shield{
    width:28px;
    margin:0 16px;
}
.service__title{
    font-weight: bold;
    font-size: 18px;
}
.service__description{
    max-width: 200px;
    line-height: 1.5;
}
.features__row{
 max-width: 800px;
 flex-wrap: wrap;   
}

/*Quality Work*/
#quality{
    margin-top: 240px;
}
.quality__work--row{
    width:100%;
    justify-content: center;
    align-items: center;
    margin-top:32px;
}
.qualitywork__title{
margin:24px 0;
font-size: 12px;
color:#6415ff;
}
.home__screenshot{
    max-width: 500px;
    margin-top: 80px;
}
.quality__subtitle{
    font-size: 32px;
    font-weight: bold;
    width:350px;
}
.quality__para{
    width:400px;
    font-size: 18px;
    color:gray;
    margin-top: 24px;
}
.quality__button{
    background-color:#6415ff;
    color:white;
    padding:4px 14px;
    border-radius: 8px;
    margin-top: 24px;
}

/*STEPS*/
#steps{
    margin: 240px 0;
}

.steps__title{
    color:#6415ff;
    font-weight: bold;
    margin: 20px 20px 0 0;
}
.step__num{
    font-weight: bold;
    color:gray;
    font-size: 24px;
}
.step{
    font-weight: bold;
    font-size: 18px;

}
.step__description{
    margin-top: 8px;
    font-weight: bold;
    width:300px;
    color:gray;
    line-height: 1.5;
}
.step__wrapper{
display: flex;
flex-direction: column;
}
.steps__row{
    width:100%;
    margin: 0 auto;
}

/*VALUES*/

.values__row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
.values__container{
    width:100%;
    max-width: 700px;
}
.values__title{
    color:#6415ff;
    font-size: 24px;
    margin-bottom: 20px;
}
.values__title--subheader{
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}
.values__description{
    line-height: 1.5;
    font-size: 18px;
    color:gray;
}
.values-btn{
    background-color: #6415ff;
    color:white;
    padding:12px 20px;
    border-radius: 8px;
    margin-top: 16px;
    border:none;
}
.values__promise{
    max-width: 400px;
}
.values__promises--wrapper{
    display: flex;
    flex-direction: column;
}
.values__promise--container{
    display: flex;
}
.values__row{
    display: flex;
    margin-bottom: 24px;
}
.value__demo--img{
    max-width:800px;
}
.value__icon--wrapper-red{
    background-color: #FEB2B2;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:24px 0;
}
.value__icon--wrapper-green{
    background-color: #9AE6B4;
    height:40px;
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin:24px 0;
}

/*PRICING*/

.pricing__row{
display: flex;
justify-content: center;
margin:0 auto 64px;
padding-top:96px;
}

.pricing__title,
.pricing__subtitle{
    display: flex;
    justify-content: center;
}
.pricing__subtitle{
    font-size: 36px;
    font-weight: bold;
}
.pricing__description{
    width: 800px;
    text-align: center;
}
.plan__container{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid gray;
    margin:0 auto;
    width:100%;
    max-width: 400px;
}
.plan__container--personal{
    border-top: 8px solid rgb(129,230,217);
}
.plan__container--enterprise{
    border-top: 8px solid rgb(245,101,101);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    max-width: 400px;
}
.plan__container--business{
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(76,81,191)0%, rgb(102,126,234)100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid gray;
    width:100%;
    max-width: 400px;
}
.personal__plan--container-top{
    padding:20px;
    font-size: 28px;
}
.plan__title,
.plan__price{
    margin-bottom: 24px;
}
.plan__price--white{
    margin-bottom: 24px;
    color:white;
}
.plan__subscription{
    color:gray;
}
.plan__subscription--business{
    color:white;
    font-size: 24px;
    font-weight: bold;
}
.plan__container--mid{
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    line-height: 2.5;
    font-size: 20px;
}
.plan__audience{
    color:white;
    font-weight: bold;
    font-size: 24px;
}
.button__container{
    padding:20px 0;
    border:none;
}
.buynow-btn{
    background: linear-gradient(115deg, rgb(56,178,172),
    0%, rgb(129,230,217)100%);
    padding: 16px 32px;
    border-radius: 16px;
}
.buynow-btn--enterprise{
    background:linear-gradient(115deg, rgb(245,101,101)0%, rgb(254,178,178)100%);
    padding:16px 32px;
    border-radius: 16px;
}
.buynow-btn--business{
    color:purple;
    font-weight: bold;
    padding:16px 32px;
    border-radius: 16px;
}
.plan__container--wrapper{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    gap: 32px;
}
.business__plan--para{
    color:#E2e8f0;
}


/*TESTIMONIALS*/
.testimonial__row{
    margin-top:240px;
    margin-bottom:240px;
    width:100%;
    max-width: 1200px;
}
.testimonial__img{
    width:100px;
    border-radius: 50%;
}
.testimonial__love{
    width:600px;
    margin: 0 38px 0 0;
}
.rating__wrapper{
    display: flex;
    color:gold;
    margin:24px 0;
}
.testimonial{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px
}
.testimonial__title{
    margin:24px 0;
}
.testimonial__description{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.5;
}
.testimonial__paraphrase{
    font-size: 32px;
    font-weight: bold;
}
.testimonial__para{
    color:gray;
    line-height: 1.5;
}
.testimonial__title--container{
    display: flex;
    flex-direction: column;
    margin:20px 20px 0 0;
}
.experience__wrapper{
    display: flex;
}
.left-btn{
    margin-top: 24px;
    width:40px;
    height:40px;
    border-radius: 50%;
    border:none;
    color:purple;
}
.right-btn{
    margin-top: 24px;
    width:40px;
    height:40px;
    border-radius: 50%;
    border:none;
    color:purple;
}
.user__name{
    font-weight: bold;
    font-size: 24px;
    margin:24px 150px 0 18px;
}
.user__position{
    font-weight: bold;
    color:gray;
    margin:8px 150px 0 18px;
}

/*ADS CONTAINER*/
.advertisement__container{
    display: flex;
    width:100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.advertisement__title{
    color:white;
    font-weight: bold;
    width:400px;
}
.advertisement__row{
    width:100%;
    margin:0 auto;
    background-color: #6415ff;
    height:400px;
}
.advertisement__button--container{
    display: flex;
    width:100%;
    max-width: 500px;
}
.get__started-btn{
    height:100px;
    padding:20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 32px 0 0;
    border-radius: 8px; 
    background-color: rgb(245,101,101);
    color:white;
    border:none;
}
.advertisement__button--contact{
    height:100px;
    padding:20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 32px 0 0;
    border-radius: 8px;
    border:2px solid white;
}

/*FOOTER*/
.footer__row{
    width:100%;
    max-width: 1200px;
    background-color: #6415ff;
}
.copyright__container{
    display: flex;
    justify-content: center;
    margin:15px 0;
    background-color: #6415ff;
}
.copyright__container--wrapper{
    background-color: #6415ff;
}
.footer__logo{
    width:40px;
    display: flex;
}
footer{
    background-color: #6415ff;
    height:400px;
}
.footer__section--title{
    color:white;
    font-size: 16px;
    margin:64px 0;
}
.footer__link{
    color:white;
    margin:14px 0;
    font-size: 12px;
    font-weight: bold;
}
a{
    color:white;
    text-decoration: none;
}
hr{
    width:100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: transparent;
}
.copyright__text{
    margin-top: 10px;
    font-weight: bold;
    color:white;
}
.copyright__inc{
    color:white;
    font-weight: bold;
    margin-top: 10px;
}
@media (max-width: 768px){
   
    .nav__logo--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0 auto;
    }
    .nav__links--wrapper{
        display:none;
    }
    .nav__link{
        display:none;
    }
   .logo__img{
    width: 150px;
   }
  .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title__container{
    width:100%;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

  .treact__title{
    width:100%;
    max-width: 300px;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
  }
   .treact__logo--title{
    font-size: 32px;
   }
   .treact__para{
    width:100%;
    width:500px;
    line-height: 1.5;
    font-size: 18px;
    display: flex;
    text-align: center;
   }
  .quality__work--row{
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .home__screenshot{
    width:100%;
    max-width: 200px;
  }
  .email{
    display: flex;
    flex-direction: column;
    width:100%;
  }
  .email button{
    position:static;
    width:100%;
    margin-top: 16px;
    padding: 16px 210px;
  }
  .btn{
    width: 100%;
    padding:16px 18px;
  }
  .signup__container{
    width:100%;
    max-width: 400px;
  }
  .customers__title{
    font-size: 32px;
  }
  .customer--logo{
    margin-top: 20px;
    max-width: 600px;
  }
  .treact__desk{
    width:70%;
    align-items: center;
  }

  /*FEATURES*/

  .features__row{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features__subheader{
    font-size: 32px;
  }
  .features__para{
    width:50%;
    line-height: 1.5;
  }
  .services__container{
    width: 50%;
  }
  .service__title{
    color:black;
    margin-bottom: 20px;
  }
  .service__description{
    color:gray;
  }

  /*QUALITY*/

  .qualitywork__title{
    text-align: left;
  }
  .quality__work--row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left:20px;
  }
  .quality__subtitle{
    width:50%;
    text-align: left;
  }
  .quality__para{
    max-width: 100%;
    max-width: 400px;
  }
  .home__screenshot{
    width:50%;
    max-width: none;
  }
  
  /*STEPS*/

  .steps__row{
    display: flex;
    flex-direction: row;
  }
  .steps__img{
    width:80%;
  }
  .step__subtitle{
    width:100%;
    max-width:200px;
  }
  .step__num{
    display: flex;
    flex-direction: row;
    margin:20px 0;
  }
}