*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.nav__container{
    width:100%;
    max-width: 1200px;
}
html{
    scroll-behavior: smooth;
}
nav{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.nav__logo--wrapper{
    display: flex;
    align-items: center;
    padding:20px;
}
.nav__links--wrapper{
    display: flex;
    align-items: center;
    padding:32px;
}
.nav__link{
    padding-left:24px;
    text-decoration: none;
    color:#242424;
}
.nav__link--login{
    padding-right:8px;
    text-decoration: none;
}
.nav__link--contact{
    padding:12px 24px;
    text-decoration: none;
}
li{
    list-style-type: none;
    text-decoration: none;
}
.logo__img{
    width:80px;
}
.nav--btn{
   color:white;
   background-color: blueviolet;
   border: none;
   padding: 8px 20px;
   border-radius: 12px; 
}
.row{
    width:100%;
    max-width: 1200px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
}
.text--purple{
    color: purple;
}
.treact__para{
    text-align: left;
    display: flex;
    color:rgb(109, 106, 106);
    margin:16px 0;
}
.title__container{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:0 32px;
}
.customers__title{
    font-size: 18px;
    color:gray;
}
.customer--logo{
    width:100px;
}
.signup__container{
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left:28px; 
}
.btn{
    max-width: 100px;
    padding:8px 12px;
    border-radius: 12px;
    background-color: blueviolet;
    color:white;
    display: flex;
    margin:0 auto;
}
.container{
    display: flex;
    width:100%;
    max-width: 1200px;
}
.treact__desk{
    width:60%;
}
.treact__title{
    width:100%;
    max-width: 300px;
}

/*Features*/

.features__title{
    display: flex;
    justify-content: center;
    margin:0 auto;
}
.features__subheader{
    display: flex;
    justify-content: center;
    margin-bottom:24px;
}
.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.text--purple{
    color:purple;
}
.features__para{
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    font-size: 16px;
    color:gray;
    text-align: center;
}
.signup__container{
    width:100%;
}